#TotalContainer {
    background-color: rgba(19, 13, 3, 0.804);
    display: flex;
    width: auto;
    max-width: var(--max-width);
    height: auto;
    padding: 10px;
    border-radius: var(--border-radius);
}

#Total {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
}

.Label {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    width: 60px;
    margin-right: 10px;
}

.TotalValue {
    color:rgb(225, 127, 57);
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    width: auto;
}