.Board {
    background-color: rgba(19, 13, 3, 0.804);
    display: flex;
    margin-block: 2px;
    width: auto;
    height: 30px;
    padding-inline: 10px;
    color: white;
    font-size: 16px;
    border-radius: var(--border-radius);
    user-select: none;
}



.Selected {
    background-color: rgba(44, 34, 16, 0.804);
    transform:scale(1.03);
    transition: all .05s ease-in-out;
}

    #BoardSize {
        display: flex;
        height: 100%;
        margin: 0px;
        flex: 1;
        align-items: center;
    }

        .BoardSizeText {
            display: flex;
            align-items: center;
            font-size: 14px;
            width: auto;
            height: 100%;
        }

        .BoardSizeValues {
            color:rgb(225, 127, 57);
            display: flex;
            align-items: center;
            font-size: 14px;
            width: auto;
            height: 100%;
            margin-right: 10px;
            margin-left: 4px;
        }

    .BoardCount {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: auto;
        font-size: 14px;
    }

    .BoardPrice {
        color:rgb(225, 127, 57);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0px;
        width: 80px;
    }